.carouselContainer {
  height: 100%;
  width: 100%;
}

.carousel {
  height: 100%;
  width: 100%;
  padding: 20px;
  white-space: nowrap;
  text-align: center;
  list-style-type: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.carousel::-webkit-scrollbar {
  height: 10px;
}

.carousel::-webkit-scrollbar-track {
  background: transparent;
}

.carousel::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

.customButton {
  color: inherit;
  outline: none;
  background: none;
  margin: 0;
  border: none;
  padding: 0;
  line-height: 0;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.cardButton {
  width: 100%;
  height: 100%;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  height: 7rem;
  width: 7rem;
  padding: 1rem;
  color: #ddd;
  line-height: 5rem;
  font-size: 7rem;
  text-align: center;
  cursor: pointer;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  height: 6rem;
  width: 3rem;
  color: #ddd;
  line-height: 5rem;
  font-size: 5rem;
  text-align: center;
  cursor: pointer;
}

.card {
  display: inline-block;
  height: 170px;
  width: 170px;
  margin: 0 10px;
  padding: 10px;
  border-radius: 10px;
  scroll-snap-align: center;
}

.cardImage {
  height: 150px;
  width: 150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

@media only screen and (min-width: 1000px) {
  .carousel {
    padding: 40px;
  }
  .carousel::-webkit-scrollbar {
    height: 20px;
  }
  .card {
    height: 490px;
    width: 490px;
    margin: 0 20px;
    padding: 20px;
  }
  .cardImage {
    height: 450px;
    width: 450px;
  }
  .arrow {
    margin: 0 2rem;
    width: 5rem;
    font-size: 9rem;
  }
}

@media not all and (pointer: coarse) {
  .carousel::-webkit-scrollbar-thumb:hover {
    background: #999;
  }
  .close:hover {
    color: #bbb;
    font-size: 9rem;
  }
  .arrow:hover {
    height: 7rem;
    color: #bbb;
    font-size: 7rem;
  }
  @media only screen and (min-width: 1000px) {
    .arrow:hover {
      font-size: 11rem;
    }
  }
}
