.layout {
  width: 100%;
}

.layoutOverlay {
  position: fixed;
  top: 0;
  height: 0%;
  width: 100%;
  background-color: #24316F;
  text-align: center;
  transition: 0.7s;
  overflow: hidden;
  z-index: 100;
}

.overlayActive {
  height: 100%;
  overflow-y: scroll;
}

.layoutHeader {
  position: relative;
  padding: 0 20px;
  background-color: #24316F;
  overflow: hidden;
  z-index: 101;
}

.header {
  position: relative;
  height: 45px;
}

.hamburger {
  position: absolute;
  top: 50%;
  right: 0;
  -ms-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  cursor: pointer;
}

.hamburger>span {
  display: block;
  height: 3px;
  width: 25px;
  margin: 3px 0;
  background-color: #fff;
  border-radius: 10px;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 90%;
  cursor: pointer;
}

.headerPages {
  position: absolute;
  top: 50%;
  right: 0;
  -ms-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  list-style-type: none;
}

.page {
  display: inline-block;
  margin: 5px 35px 5px 0;
}

.page>a {
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
  transition-duration: .5s;
}

.page>a:hover, .page>a:focus {
  color: #818181;
  opacity: 1;
}

@media only screen and (max-width: 999px) {
  .layoutFixed {
    position: fixed;
    top: 0;
    left: 0;
  }
  .container {
    overflow-y: scroll;
  }
  .headerPages {
    display: none;
  }
}

@media only screen and (min-width: 1000px) {
  .overlayActive {
    height: 0%;
    overflow: hidden;
  }
  .layoutHeader {
    padding: 0 60px;
  }
  .header {
    height: 70px;
  }
  .hamburger {
    display: none;
  }
  .logo {
    left: 0;
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
  }
}