.header {
  position: relative;
  height: 45px;
  overflow: hidden;
}

.hamburger {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(0%, -50%);
  -moz-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  -o-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  cursor: pointer;
}

.hamburger>span {
  display: block;
  height: 3px;
  width: 25px;
  margin: 3px 0;
  background-color: #fff;
  border-radius: 10px;
}

.headerLogo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 90%;
  width: 110px;
}

.headerPages {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(0%, -50%);
  -moz-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  -o-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  font-size: 2rem;
  list-style-type: none;
}

.headerPages>li {
  display: inline-block;
  margin-left: 30px;
}

.socialMedia {
  width: 90%;
  width: 90vw;
  margin: auto;
  list-style-type: none;
}

.socialMedia>li {
  display: inline-block;
  height: 2rem;
  width: 2rem;
  margin-right: 20px;
}

.footer {
  position: relative;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.footerLogo {
  display: inline-block;
  height: 50px;
  width: 110px;
}

.footerPages {
  margin: 10px auto 0;
  font-size: 1.5rem;
  text-align: start;
  list-style-type: none;
}

.footerPages>li {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.footerCaption {
  margin: 10px auto 0;
}

.footerCaption>p {
  margin-top: 0;
  font-size: .8rem;
}

.footerCaption a {
  text-decoration: none;
}

@media only screen and (max-width: 999px) {
  .fixed {
    position: fixed;
  }
  .headerPages {
    display: none;
  }
}

@media only screen and (min-width: 500px) {
  .footerPages>li {
    width: 33.33%;
    width: calc(100% / 3);
  }
}

@media only screen and (min-width: 1000px) {
  .header {
    height: 70px;
  }
  .hamburger {
    display: none;
  }
  .headerLogo {
    left: 0;
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
  }
  .socialMedia>li {
    height: 4rem;
    width: 4rem;
    margin-top: 20px;
    margin-right: 45px;
  }
  .footerPages {
    margin-top: 20px;
  }
  .footerPages>li {
    width: 20%;
    font-size: 2rem;
  }
  .footerCaption {
    margin-top: 20px;
  }
  .footerCaption>p {
    font-size: 1.5rem;
  }
}