.overlay {
  height: 100%;
  width: 100%;
  padding: 45px 0;
  text-align: center;
}

.overlayPages {
  margin: 0 20px 45px;
  list-style-type: none;
}

.overlayPages>li {
  padding: 8px;
  margin-bottom: 5px 0;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  font-size: 4rem;
}

.mailingList {
  margin: 0 20px 45px;
}

.mailingList>p {
  margin-bottom: 20px;
}

.emailForm {
  margin-bottom: 45px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

.emailForm>input {
  width: 100%;
  padding-right: 45px;
  padding-bottom: 8px;
  background-color: transparent;
  font-size: 3rem;
  border: none;
}

.emailForm>input:focus {
  outline-width: 0;
}

.emailForm>button {
  position: absolute;
  right: 20px;
  height: 30px;
  width: 30px;
  text-align: center;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.socialMedia {
  list-style-type: none;
}

.socialMedia>li {
  display: inline-block;
  height: 3rem;
  width: 3rem;
  margin: 0 45px;
}

@media only screen and (max-width: 369px) {
  .overlayPages>li {
    font-size: 3rem;
  }
  .socialMedia>li {
    height: 2rem;
    width: 2rem;
    margin: 0 20px;
  }
}