.overlayPages {
  margin: 45px 20px;
}

.page {
  padding: 8px;
  margin: 5px 0;
  border-bottom: #fff solid 2px;
  list-style: none;
  font-size: 4rem;
}

.page>a {
  color: #fff;
  text-decoration: none;
  transition-duration: .5s;
}

.page>a:hover, .page>a:focus {
  color: #818181;
  opacity: 1;
}

.overlayEmail {
  margin: 0 20px;
}

.overlayEmail>p {
  margin-bottom: 20px;
}

.emailForm {
  margin-bottom: 45px;
  border-bottom: 2px solid #fff;
}

.emailForm>input {
  width: 100%;
  padding-right: 45px;
  padding-bottom: 8px;
  background-color: transparent;
  color: #fff;
  font-size: 3rem;
  border: none;
}

.emailForm>input::placeholder {
  color: #fff;
}

.emailForm>input:focus {
  outline-width: 0;
}

.emailForm>button {
  position: absolute;
  right: 20px;
  height: 30px;
  width: 30px;
  background-color: #fff;
  text-align: center;
  border: none;
  border-radius: 50%;
}

.overlaySocialMedia {
  margin: 0 45px 20px;
  text-align: center;
}

.socialMedia {
  display: inline-block;
  height: 3rem;
  width: 3rem;
  margin: 0 10%;
}

@media only screen and (max-width: 369px) {
  .page {
    font-size: 3rem;
  }
}