.slideshow {
  position: relative;
  height: 100%;
}

.slideList {
  position: relative;
  height: 100%;
  list-style-type: none;
}

.slide {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 30px 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  font-weight: bold;
  -webkit-transition: all 1.0s ease-in-out;
  -moz-transition: all 1.0s ease-in-out;
  -o-transition: all 1.0s ease-in-out;
  transition: all 1.0s ease-in-out;
  opacity: 0;
}

.slideHeader {
  width: 100%;
  padding: 10px 0;
  background-color: rgba(24, 38, 110, 0.6);
  color: #fff;
  text-shadow: 0 0 2px #000;
}

.slideHeader>h1 {
  width: 100%;
  padding: 10px;
  background-color: rgb(36, 49, 111, .8);
}

.slideButton {
  position: absolute;
  bottom: 50px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-500%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: block;
  padding: 10px;
  background-color: #fff;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.3px;
}

.badgeList {
  position: absolute;
  left: 50%;
  bottom: 30px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-500%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 51;
}

.badge {
  display: inline-block;
  height: 20px;
  width: 20px;
  background-color: transparent;
  cursor: pointer;
}

.badge>span {
  display: inline-block;
  height: 50%;
  width: 50%;
  margin: 25%;
  background-color: #fff;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 0.3;
}

@media only screen and (min-width: 500px) {
  .slideButton {
    padding: 20px;
  }
}

@media only screen and (min-height: 500px) {
  .slideButton {
    padding: 20px;
  }
}

@media only screen and (min-height: 1000px) {
  .slideHeader>h1 {
    padding: 10px;
  }
}