.slideshow {
  position: relative;
  height: 100%;
}

.slide {
  display: none;
  height: 100%;
  padding: 30px 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  font-weight: bold;
  transition-duration: .5s;
  z-index: 50;
}

.slideActive {
  display: block;
}

.slideHeader {
  width: 100%;
  padding: 10px 0;
  background-color: rgba(24, 38, 110, 0.6);
  color: #fff;
  text-shadow: 0 0 2px #000;
}

.slideHeader>h1 {
  width: 100%;
  padding: 10px 0;
  background-color: rgb(36, 49, 111, .8);
}

.slideButton {
  position: absolute;
  bottom: 50px;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: block;
  padding: 20px;
  background-color: #fff;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.3px;
}

.badgesContainer {
  position: absolute;
  left: 50%;
  bottom: 30px;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.badge {
  display: inline-block;
  height: 20px;
  width: 20px;
  background-color: transparent;
  cursor: pointer;
}

.badge>span {
  display: inline-block;
  height: 50%;
  width: 50%;
  margin: 25%;
  /* background-color: #555;
  background-color: hsla(0,0%,100%,.3); */
  background-color: #ffffff4d;
  box-shadow: 1px 1px 4px #00000066;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
  transition: height .3s ease;
}

.badgeActive>span {
  background-color: #fff;
  background-color: #ffffffe6;
}

@media only screen and (max-width: 369px) {
  .slideButton {
    padding: 10px;
  }
}

@media only screen and (max-height: 500px) {
  .slideButton {
    padding: 10px;
  }
}