.chevronDown {
  position: relative;
  display: block;
  height: 45px;
  width: 45px;
  margin: auto;
}

.chevronDown>i {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition-duration: .3s;
  display: block;
  height: 30px;
  width: 30px;
  background-color: #eee;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('/icons/chevron-down-blue.svg');
}

.chevronDown>i:hover, .chevronDown>i:focus {
  height: 45px;
  width: 45px;
  background-color: #24316F;
  background-image: url('/icons/chevron-down-white.svg');
}

.timeline {
  max-width: 1000px;
  margin: 30px 20px;
  border-left: 2px solid #fff;
  border-style: dotted;
}

.event {
  position: relative;
  top: -10px;
  width: 100%;
  margin: 20px 0;
  color: #fff;
  list-style: none;
}

.magnifyingGlass {
  position: absolute;
  left: -3.83rem;
  height: 5rem;
  width: 5rem;
}

.eventDate {
  margin-left: 20px;
}

.eventDetails {
  margin-left: 20px;
  padding: 20px;
  background-color: #fff;
  color: #000;
  border-radius: 10px;
}

@media only screen and (min-width: 1000px) {
  .timeline {
    margin: 55px auto;
  }
  .event {
    margin: 45px 0;
  }
  .eventDate {
    margin-left: 45px;
  }
  .eventDetails {
    margin-left: 45px;
    padding: 45px;
  }
}