.slideshow {
  height: 500px;
  height: calc(100vh - 145px);
  min-height: 300px;
  background-color: #fff;
}

.introLinks {
  text-align: center;
}

.link {
  color: #24316F;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  transition-duration: .5s;
}

.link>a:visited {
  color: #24316F;
}

/* .indexMinisty {
  padding: 45px 0;
  background-color: #fff;
  color: #000;
}

.ministry {
  width: 100%;
  margin: 0 auto;
} */

@media only screen and (min-width: 1000px) {
  .slideshow {
    height: 80%;
    height: calc(100vh - 70px);
  }
}

@media not all and (pointer: coarse) {
  .link>a:hover, .link>a:focus {
    color: #818181;
    text-decoration: underline;
    opacity: 1;
  }
}