* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  background-color: rgb(255, 246, 235);
  color: #000;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3,
p {
  font-size: 2rem;
}

i {
  display: inline-block;
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -ms-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

header {
  position: relative;
  width: 100%;
  padding: 0 20px;
  z-index: 102;
}

section {
  /* padding: 45px 0; */
  position: 'relative';
}

footer {
  padding: 10px;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
}

.white input,
.white input::-webkit-input-placeholder,
.white input:-ms-input-placeholder,
.white input::-moz-placeholder,
.white input:-moz-placeholder,
.white input::placeholder {
  color: #24316f;
}

.blue input,
.blue input::-webkit-input-placeholder,
.blue input:-ms-input-placeholder,
.blue input::-moz-placeholder,
.blue input:-moz-placeholder,
.blue input::placeholder {
  color: #fff;
}

input:focus::-webkit-input-placeholder,
input:focus::-ms-input-placeholder,
input:focus::-moz-placeholder,
input:focus:-moz-placeholder,
input:focus::placeholder {
  color: #818181;
}

.white form {
  border-bottom-color: #24316f;
}

.blue form {
  border-bottom-color: #fff;
}

@media only screen and (max-width: 500px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3,
  p {
    font-size: 1.5rem;
  }
}

@media only screen and (max-height: 500px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 1000px) {
  header {
    height: 70px;
    padding: 0 60px;
  }
  footer {
    padding: 10px 60px;
  }
}

@media not all and (pointer: coarse) {
  i:hover,
  i:focus {
    transition-duration: 0.5s;
    opacity: 1;
  }
  a:hover,
  a:focus {
    transition-duration: 0.5s;
    opacity: 1;
  }
}
