.sectionTitle {
  width: 90%;
  margin: auto;
  text-align: center;
}

.title {
  margin-bottom: 20px;
  padding-top: 45px;
}

.subtitle {
  max-width: 800px;
  font-style: italic;
}

.description {
  max-width: 1200px;
}

.subtitle,
.description {
  margin: 0 auto 10px;
}

.sectionContent {
  width: 90%;
  width: 90vw;
  margin: auto;
}

.raw > * {
  width: 100%;
  max-width: none;
  margin: 0;
  padding: 0;
}

.viewHeight {
  height: 500px;
  height: calc(100vh - 145px);
  min-height: 300px;
}

.viewHeight .sectionContent {
  height: 100%;
}

@media only screen and (min-width: 1000px) {
  .title {
    margin-bottom: 30px;
  }
  .subtitle,
  .description {
    margin-bottom: 15px;
  }
  .viewHeight {
    height: 80%;
    height: calc(100vh - 70px);
  }
}

/* Begin Image Styles */
.pictureContainer {
  width: 100%;
  height: 150px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.picture {
  height: 100%;
  margin: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

@media only screen and (min-width: 500px) {
  .pictureContainer {
    height: 200px;
  }
}

@media only screen and (min-width: 800px) {
  .pictureContainer {
    height: 300px;
  }
}

@media only screen and (min-width: 1000px) {
  .picture {
    max-width: 650px;
  }
}
/* End Image Styles */
